img{
    height: 100%;
    width: 100%;
}
.row{
    margin: 5px;
   
}
.second-row{
    display: flex;
    gap: 5px;
}
.second-row> div{
    flex: 1;
}
.two-dimen{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.two-dimen div{
   height: calc(50% - 5px/2);
}
.third-row{
    display: flex;
    gap:5px;
}
.four-dimon{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
}
.third-row>div{
    flex: 1;
}
@media screen and (max-width:576px) {
    .second-row,.third-row{
        flex-direction: column;
    }
}
@media screen and (min-width:577) {
    .row{
        height: 200px;
    }
}